@import '../node_modules/normalize.css/normalize';
@import '404';
@import 'privacy';

// Fonts
$font-body: arial, sans-serif;
$font-header: arial, sans-serif;
$font-body-weight: 300;
$font-header-weight: 400;

// Colours
$bigroom-blue: #6AD1E3;
$bigroom-dark-blue: #55a7b6;
$bigroom-grey: #53565A;

html, body {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: $font-body;
	font-weight: $font-body-weight;
	font-size: 1rem;
	background-color: white;
	color: $bigroom-grey;

	p {
		line-height: 140%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
	font-weight: $font-header-weight;
	color: $bigroom-blue;
}

a {
	color: $bigroom-dark-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (width >= 768px) {
	.container {
		width: 600px;
		margin: auto;
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.footer {
	font-size: 0.9rem;
	background-color: $bigroom-blue;
	color: white;
	text-align: center;
	padding: 1rem 0;

	a {
		color: white;
	}

	.col {
		margin: auto;
		margin-bottom: 1rem;
		width: 50%;
		line-height: 140%;
	}
}

.banner {
	background-color: $bigroom-blue;
	color: white;
	padding-top: 7px;
	padding-bottom: 4px;
	box-shadow: 0 4px 20px 0 $bigroom-grey;
	z-index: 100;
	border-bottom: 1px solid white;

	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.arrow-icon {
		width: 2rem;
		padding-left: 2em;
		margin-bottom: -0.5em;
	}

	.navbar-brand img {
		height: 36px;
	}
}

.hero {
	background-image: url('/img/forest-header.webp');
	background-size: cover;
	padding: 3.5rem;
}

.hero-logo {
	margin: auto;
	display: block;
	width: 270px;
}

.main {
	text-align: center;
	padding: 2rem;
}

.button {
	border: 2px solid $bigroom-blue;
	border-radius: 40px;
	padding: 0.8rem 1.5rem;
	display: inline-block;
	color: $bigroom-blue;
	font-weight: $font-header-weight;
	margin: 1rem;
}

.button:hover, .button:hover a {
	background-color: $bigroom-blue;
	color: white;
	text-decoration: none;
}

address {
	font-style: normal;
}

.row {
	clear: both;
	zoom: 1; /* For IE 6/7 */
}

.row::before,
.row::after {
	content: '';
	display: table;
}

.row::after {
	clear: both;
}

@media (width >= 768px) {
	body {
		box-sizing: border-box;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	footer, header {
		flex-grow: 0;
		flex-shrink: 0;
	}

	main {
		flex-grow: 1;
	}

	.footer .col {
		width: 29%;
		padding: 2%;
		float: left;
	}
}
