---
title: .eco Registry Policies
permalink: false
description: Registration, eligibility, and DNSSEC policies for the .eco domain
page_path: /policies/
og_image: og-bigroom.png
---

{% extends './layouts/default.njk' %}

{% block content %}
<main class="main container policy-content">
  <h1>Registry policies</h1>
  <p>Policies for the .eco registry.</p>
  <ul>
    <li><a href="eco-Registry-Policies_v1.2_20161228.pdf">.eco Registry Policies</a></li>
    <li><a href="eligibility-eco-profile-policies.pdf">Eligibility policy</a></li>
    <li><a href="DNSSECPracticesStatement.pdf">DNSSEC Practices Statement</a></li>
  </ul>
  <a class="button" href="/">Go home</a>
  <span class="button email-link" data-name="hello" data-domain="bigroom.eco">Contact Us</span>
</main>
{% endblock %}
