<!DOCTYPE html>
<html id="bigroom" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="domains,registry,top-level domain,TLD,ECO,.eco,environmental action,sustainability,ngo">
	<meta name="author" content="BigRoom.eco">
	{% if noindex %}
	<meta name="robots" content="noindex">
	{% endif %}

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{twitter_id}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{site_url}}/{{page_path}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{site_url}}/img/{{og_image}}">
	<meta property="fb:app_id" content="1859906154237189">

	<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
	<link rel="preconnect" href="https://trust.profiles.eco/" crossorigin>

	<title>{{title}}</title>

 	<link rel="stylesheet" href="/{{ fingerprint['css/main.css'] }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="{{site_url}}/{{page_path}}">

	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "name": "Big Room",
	  "url": "{{site_url}}",
	  "logo": "{{site_url}}/android-chrome-512x512.png",
	  "contactPoint": [{
	    "@type": "ContactPoint",
	    "telephone": "+1 604 682 6673",
	    "contactType": "customer service"
	  }],
	  "sameAs": [
	    "https://instagram.com/dot_eco_domain/",
	    "https://www.linkedin.com/company/big-room/",
	    "https://twitter.com/bigroominc"
	  ]
	}
	</script>
{% if ga_tracking_id %}
<script src="https://cdn.usefathom.com/script.js" data-site="JLIDFFNU" defer></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga_tracking_id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
	gtag('config', '{{ga-tracking-id}}', { 'transport_type': 'beacon', 'anonymize_ip': true });
</script>
{% endif %}
</head>
<body>
<div class="banner">
  <div class="container">
    <a class="navbar-brand" href="https://bigroom.eco/">
      <img alt=".eco logo" src="/img/doteco-logo-white.svg" width="40" height="36">
    </a>
  </div>
</div>

<header class="hero">
	<img class="hero-logo container" src="/img/BR_colour_inverse.webp" alt="Big Room corporate logo" width="270" height="95">
</header>

{% block content %}
{{ contents | safe }}
{% endblock %}

<footer class="footer">
  	<div class="container">
  		<div class="row">
  		<div class="col">
			&copy; {{ year }} Big Room Inc.<br>
			<span class="email-link" data-name="hello" data-domain="bigroom.eco"></span><br>
			<a href="/privacy/">Privacy policy</a><br>
			<a href="https://go.eco/whois/">.eco WHOIS</a>
		</div>
		<div class="col">
			<address>
			1231 Pacific Boulevard, Suite 581<br>
			Vancouver, BC, Canada<br>
			V6Z 0E2<br>
			</address>
		</div>
		<div class="col">
			<a href="https://profiles.eco/bigroom">
			<img class="eco-trustmark" alt=".eco profile for bigroom.eco" title=".eco profile for bigroom.eco" src="{{trustmark}}/bigroom/eco-button.svg?color=%23FFF" width="45" height="45"></a>
		</div>
		</div>
	</div>
</footer>

<script>
	// email obfuscation
	document.querySelectorAll(".email-link").forEach(function (el) {
		var email = el.dataset.name + "@" + el.dataset.domain;
		el.innerHTML = "<a href=\"mailto:" + email +"\">" + email + "</a>";
	});
</script>
{% if livereload %}
<script src="http://localhost:35728/livereload.js"></script>
{% endif %}
</body>
</html>
