<!DOCTYPE html>
<html id="bigroom" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="domains,registry,top-level domain,TLD,ECO,.eco,environmental action,sustainability,ngo">
	<meta name="author" content="BigRoom.eco">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{twitter_id}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{site_url}}/{{page_path}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{site_url}}/img/{{og_image}}">
	<meta property="fb:app_id" content="1859906154237189">

	<title>{{title}}</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

 	<link rel="stylesheet" href="/{{ fingerprint['css/main.css'] }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="{{site_url}}/{{page_path}}">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "name": "Big Room",
	  "url": "{{site_url}}",
	  "logo": "{{site_url}}/android-chrome-512x512.png",
	  "contactPoint": [{
	    "@type": "ContactPoint",
	    "telephone": "+1 604 682 6673",
	    "contactType": "customer service"
	  }],
	  "sameAs": [
	    "https://www.facebook.com/EnvironmentalDomain/",
	    "https://instagram.com/dot_eco_domain/",
	    "https://www.linkedin.com/company/523539/",
	    "https://twitter.com/bigroominc",
	    "https://www.youtube.com/user/doteco"
	  ]
	}
	</script>
</head>
<body>

{% block banner %}
{{ banner | safe }}
{% endblock %}

<div class="hero">
	<a href="/"><img class="hero-logo container" src="/img/BR_colour_inverse.png" alt="Big Room corporate logo" /></a>
</div>

{% block content %}
{{ contents | safe }}
{% endblock %}

<footer class="footer">
  	<div class="container">
  		<div class="row">
  		<div class="col">
			&copy; {{ year }} Big Room Inc.<br/>
			<span class="email-link" data-name="hello" data-domain="bigroom.eco"></span><br />
			<a href="/privacy/">Privacy policy</a><br />
		</div>
		<div class="col">
			<address>
			332-237 Keefer Street<br />
			Vancouver, BC, Canada<br />
			V6A 1X6<br />
			</address>
		</div>
		<div class="col">
			<a href="https://profiles.eco/bigroom">
			<img class="eco-trustmark" alt=".eco profile for bigroom.eco" title=".eco profile for bigroom.eco" src="{{trustmark}}/bigroom/eco-button.svg?color=%23FFF" /></a>
		</div>
		<div class="col">
			<a href="https://climatesmartbusiness.com/"><img src="/img/climate-smart-logo.png" class="logo-climatesmart" alt="Climate Smart logo" /></a>
		</div>
		<div class="col">
			<a href="https://www.bcorporation.net/community/big-room-inc"><img class="logo-bcorp" src="/img/bcorp.png" alt="B Corporation logo" /></a>
		</div>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
	// email obfuscation
	(function ($) {
		$(".email-link").html(function () {
			var email = $(this).data("name") + "@" + $(this).data("domain");
			var text = $(this).text() || email;
			return "<a href=\"mailto:" + email +"\">" + text + "</a>";
		});
	})(jQuery);
</script>
{% if ga_tracking_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga_tracking_id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ga_tracking_id}}', { 'transport_type': 'beacon'});
</script>
{% endif %}
{% if livereload %}
<script src="http://localhost:35728/livereload.js"></script>
{% endif %}
</body>
</html>
