---
title: 404 Not Found
permalink: false
description: Unable to find the page you're looking for
page_path: /404.html
og_image: og-bigroom.png
private: true
---

{% extends './layouts/default.njk' %}

{% block content %}
<main class="main container header-404">
		<h1>404</h1>
		<h2>Whoops!</h2>
		<p>We can't find the page you're looking for.</p>

		<a class="button" href="/">Go home</a>
		<span class="button email-link" data-name="hello" data-domain="bigroom.eco">Contact Us</span>
</main>
{% endblock %}
