---
title: Big Room, the .eco Registry
description: Big Room home page. We are the domain registry for the .eco TLD and operate Ecolabel Index
page_path:
og_image: og-bigroom.png
changefreq: daily
priority: 1
---
{% extends './layouts/default.html' %}

{% block banner %}
<div class="banner">
	<a href="https://home.eco/" class="container">
		.eco Sunrise for trademark holders on now until April 2, 2017
		<img src="/img/arrow-button.svg" class="arrow-icon" alt="arrow icon">
	</a>
</div>
{% endblock %}

{% block content %}
<main class="main container">
	<h1>Big Room operates the .eco domain in partnership with the environmental community.</h1>

	<p>
	.eco is a new web address ending for organizations, businesses and people committed to positive change for the planet.
	</p>

	<a class="button" href="https://home.eco">Get your .eco</a>

	<p>
	We also manage <a href="http://ecolabelindex.com">Ecolabel Index</a>, the largest global directory of ecolabels and environmental certifications.
	</p>
</main>
{% endblock %}
