---
title: Big Room Inc., the .eco Registry
description: Big Room home page. We are the registry for the .eco top-level domain and operate Ecolabel Index
page_path:
og_image: og-bigroom.webp
changefreq: daily
priority: 1
---
{% extends './layouts/default.njk' %}

{% block content %}
<main class="main container">
  <h1>Big Room operates the .eco domain in partnership with the environmental community.</h1>

  <p>
  .eco is the top-level domain for organizations, businesses and people committed to positive change for the planet.
  </p>

  <p class="p-button">
    <a class="button" href="https://go.eco/">Get your .eco</a>
  </p>

  <p>
  We also manage <a href="http://ecolabelindex.com">Ecolabel Index</a>, the largest global directory of ecolabels and environmental certifications.
  </p>
</main>
{% endblock %}
